{% extends "base.html" %}

{% block title %}Сброс пароля  - {{ block.super }}{% endblock %}

{% block content %}
<h2>Сброс пароля</h2>
<p>Введите адрес электронной почты, указанный при регистрации, и мы вышлем вам инструкции по сбросу пароля.</p>
<form method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_email">Электронная почта:</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>

    <button type="submit">Отправить инструкции</button>
    <a href="{% url 'users:login' %}">Вернуться ко входу</a>
</form>
{% endblock %}