{% load i18n %}{% autoescape off %}
{% blocktrans %}Вы_получили_это_письмо,_потому_что_запросили_сброс_пароля_для_вашей_учётной_записи_на_сайте_{{ site_name }}.{% endblocktrans %}

{% trans "Пожалуйста,_перейдите_по_следующей_ссылке_и_создайте_новый_пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% blocktrans %}Ваше_имя_пользователя:_{{ username }}{% endblocktrans %}

{% trans "Если_вы_не_запрашивали_сброс_пароля, просто_проигнорируйте_это_письмо." %}
{% endautoescape %}